---
layout: single
---
<hr/>
  {% if page.contentdm.id %}
    {% include button-image.html %}
  {% endif %}
  <ul>
  {% if page.dc_creator %}
    <li>Creator: {{ page.dc_creator }}</li>
  {% endif %}
    {% if page.dc_keyword %}
    <li>Subject: {{ page.dc_keyword }}</li>
  {% endif %}
  {% if page.dc_publisher %}
    <li>Publisher: {{ page.dc_publisher }}</li>
  {% endif %}
  {% if page.dc_format %}
    <li>Format: {{ page.dc_format }}</li>
  {% endif %}
  {% if page.dc_description %}
    <li>Description: {{ page.dc_description}}</li>
  {% endif %}
  {% if page.dc_identifier %}
    <li>Identifier: {{ page.dc_identifier }}</li>
  {% endif %}
  {% if page.dc_language %}
    <li>Language: {{ page.dc_language }}</li>
  {% endif %}
  </ul>