---
layout: single
---
<hr/>
  {% if page.contentdm.id %}
    {% include button-image.html %}
  {% endif %}
  <ul>
  {% if page.creator %}
    <li>Creator: {{ page.creator }}</li>
  {% endif %}
    {% if page.keyword %}
    <li>Subject: {{ page.keyword }}</li>
  {% endif %}
  {% if page.publisher %}
    <li>Publisher: {{ page.publisher }}</li>
  {% endif %}
  {% if page.format %}
    <li>Format: {{ page.format }}</li>
  {% endif %}
  {% if page.description %}
    <li>Description: {{ page.description}}</li>
  {% endif %}
  {% if page.identifier %}
    <li>Identifier: {{ page.identifier }}</li>
  {% endif %}
  {% if page.language %}
    <li>Language: {{ page.language }}</li>
  {% endif %}
  </ul>